/* link to text fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');


/* Set colors */

:root {
    --primary-color: #2196F3;
    --secondary-color: #757575;
    --light-color: #f5f5f5;
    --white-color: #FFFFFF;
    --dark-color: #212121;
    --black-color: #000000;
    --footer-color: #2F303A;
}

body {
    font-family: 'roboto', sans-serif;
    background-color: var(--white-color);
    color: var(var(--black-color));
    font-size: 16px;
    margin: 0%;
}

main {
    top: 80px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;

}

li {
    list-style: none;
    align-items: center;
}

svg {
    color: var(--secondary-color)
}

svg path {
    color: var(--secondary-color)
}

svg:hover {
    color: var(--primary-color);
    fill: var(--primary-color);
}
svg path:hover {
    color: var(--primary-color);
    fill: var(--primary-color);
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h1 {
    font-size: 35px;
    font-weight: normal;

}

h2 {
    font-size: 25px;
}


/* header settings */


header {
    background-color: var(--white-color);
    height: 80px;
    border-bottom: 1px solid #ECECEC;
    justify-content: space-between;
}

.header {
    width: 1000px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.logo-h {
    Font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    Line-height: 100%;
    color: var(--primary-color);
}

.logo-h::after {
    content: attr(data-end);
    color: var(--black-color);
}


/* navigation settings */

nav li {
    display: inline;
    padding: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
}

nav li a {
    color: var(--secondary-color);
}

nav li a:hover {
    color: var(--primary-color);
}

.h-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.h-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

/* button settings */

button {
    cursor: pointer;
}


/* hero section settings */

section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.hero {
    align-items: center;
        height: 600px;
        color: var(--light-color);
        background-color: var(--dark-color);
        background-size: cover;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        box-sizing: border-box;
        background-image: url(./images/mainpage/herobackgroundimg.jpg);
        background-position: center;
}

.hero-header {
    Font-size: 44px;
    Line-height: 116%;
    font-weight: 900;
    line-height: 136%;
    width: 696px;
    height: 120px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* hero button settings */

.button1 {
    color: var(--white-color);
    background-color: var(--primary-color);
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 188%;
    align-items: center;
    text-align: center;
}


/* Style of the description section */

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section2 ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.desc {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.desc ul li img {
    object-fit: cover;
    width: 370px;
    height: 294px;
}

.sub-desc {
    display: inline-block;
    flex-grow: 1;
}

.sub-desc svg {
    align-self: center;
    display: flex;
    width: 70px;
    height:70px
}

.sub-desc-rectangle {
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
        color: var(--secondary-color)
}
.sub-desc-rectangle:hover {
    color:var(--primary-color)
}

.sub-desc h4 {
    align-self: left;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    padding-left: 10px;
    text-transform: uppercase;

}

.sub-desc p {
    font-size: 14px;
    line-height: 171%;
    padding-left: 10px;
    color: var(--secondary-color)
}


/* Style of the "what we doing?" section */

.desc2-header {
    height: 42px;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    display: inline-block;
    align-self: center;
}

/* Style of the team section */

.section3 {
    background: #F5F4FA;
    align-items: center;
}

.section3-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: space-evenly;
}

.card {
    align-self: center;
    width: 270px;
    background-color: var(--light-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.card:hover {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.card a {
    text-decoration: none;
    color: var(--dark-color)
}

.card h3 {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
}

.card p {
    text-align: center;
    font-size: 16px;
    line-height: 100%;
    color: var(--secondary-color);

}

.card img {
    place-self: top;
    margin-top: 0%;
}


li div h6 {
    color: var(--dark-color);
    Font-style: Bold;
    Font-size: 18px;
    Line-height: 171%;
    align-self: Left;
    Vertical-align: Top;
}

li div p {
    color: var(--secondary-color);
    Font-style: Regular;
    Font-size: 16px;
    Line-height: 160%;
    align-self: Left;
    Vertical-align: Top;
}

.card-socialmedias {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 30px;
}
/* Style of the "Our Clients" section */

.section4 {
    align-items: center;
}

.section4-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
}

.section4-container {
    margin-top: 94px;
    display: flex;
    justify-content: space-between;
    margin-bottom:94px;
}

.section4-rectangle {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: var(--secondary-color);
    fill: var(--secondary-color);
}
.section4-rectangle:hover {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    fill:var(--primary-color)
}
.section4-client {
    width:106px;
    height:60px;
}

/* portfolio settings */

.portfolio-section-1 {
    padding-top:94px;
}


/* portfolio buttons settings */

.portfolio-buttons {
    display: flex;
    justify-content: center;
}

.portfoliobutton {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    Font-style: Medium;
    font-weight: 500;
    font-size: 16px;
    line-height: 162%;
    background-color: #F5F4FA;
    border-radius: 4px;
    border: none;
    margin-right: 8px;
}

.portfoliobutton:hover {
    color: #E5E5E5;
    background-color: var(--primary-color);
}


/* portfolio cards settings */

.cards2 {
    margin-top: 50px;
    display: inline-flex;
    justify-content: space-evenly;
}

.card2 {
    justify-content: center;
    display: inline-block;
    width: 370px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}

.card2 h6 {
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 4px;
    text-align: left;
    font-weight: 700;
    font-size: 18px;
    line-height: 200%;
}

.card2 p {
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 20px;
    font-weight: 400;
    text-align: left;
    font-size: 18px;
    line-height: 188%;
    color: var(--secondary-color);
}

.card2 img {
    place-self: top;
    margin-top: 0%;
}



/* footer settings */

footer {
    background-color: var(--footer-color);
    height: 252px;
    left: 0;
    right: 0;
    z-index: 999;
}

.footer {
    justify-content: flex-start;
    display: flex;
}

.footer1 {
    padding-top: 15px;
    align-items: center;
    margin-left: 0px;
}

.logo-f {
    Font-family: Raleway, sans-serif;
    Font-size: 26px;
    Line-height: 100%;
    color: var(--primary-color);
}

.logo-f::after {
    content: attr(data-end);
    color: var(--white-color);
}

address {
    align-items: normal;
    font-size: 14px;
    text-decoration: none;
    Line-height: 146%;
}

.f-link {
    color: var(--white-color);
}

.f-mail {
    color: rgba(255, 255, 255, 0.6);
}

.f-tel {
    color: rgba(255, 255, 255, 0.6);
}

.footer2 h5 {
    font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    color: var(--white-color);
}