/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors). */

html {
    font-size: 16px;
    font-family: Arial, sans-serif;
}

body {
    margin: 25px;
    background-color: #E5E5E5;
    font-family: 'Times New Roman', Times, sans-serif;
    font-size: 16px;
}

/* Set colors */
:root {
    --primary-color: #2196F3;
    --secondary-color: #757575;
    --light-color: #f5f5f5;
    --dark-color: #212121;
    --black-color: #000000;
}

header {
    display: flex;
    align-items: normal;
    justify-content: space-between;
    background-color: var(--light-color);
    height: 80px;
}

nav {
    display: flex;
    gap: 20px;
}

.logo {}


.agency {
    color: var(--primary-color);
}

.portfolio {
    color: var(--dark-color);
}

.contact {
    color: var(--dark-color);
}

.h-mail {
    color: var(--primary-color);
}

.h-tel {
    color: var(--secondary-color);
}

button {
    color: #E5E5E5;
    background-color: var(--primary-color);
}

.hero {
    align-items: center;
}

.desc {
    align-items: center;
}

.sub-desc {
    align-items: center;
}

.card-container {
    align-items: center;

}

.card {
    align-self: center;
}

footer {
    bottom: 160px;
}

address {
    align-items: normal;
}

section {
    margin: 40px 0;
}

/* Applies to all <h1>...</h1> elements. */
h1 {
    font-size: 35px;
    font-weight: normal;
    margin-top: 5px;
}

h2 {
    font-size: 25px;
}

a {
    text-decoration: none;
}

.card img {
    margin-bottom: 10px;
}

.f-link {}

.f-mail {}

.f-tel {}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.card img {

    margin-bottom: 10px;
}